body {
  background-color: #bcdb93
}

.navbar {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.navbarCont {
  margin-bottom: 100px;
}

#disclaimer {
  margin-top: 50px;
  text-align: center;
  background-color: #ffffff;
  padding: 100px;
  border-radius: 50%;
  border: 3px outset black;
  box-shadow: 0px 0px 7px 3px black;
  font-size: 99px;

}

#transaction_input{
  margin-top: 50px;
  background-color: white;
  padding: 75px;
  border: 3px outset black;
  border-radius: 100%;
  box-shadow: 0px 0px 7px 3px black;
  font-size: 30px;
  text-align: center;
  max-height: 600px;
  min-height: 400px;
  min-width: 800px;

}
#userBudget{
  margin-top: 50px;
  background-color: white;
  border: 3px outset black;
  box-shadow: 0px 0px 7px 3px black;
  font-size: 30px;
  text-align: center;
  min-width: 800px;

}

.logo {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  max-height: 300px;
  margin-top: 30px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 3px #8ED081;
  padding: 7px;
}



/*NAVBAR CSS*/

.navbar-default {
  background-color: #303031;
  border-color: #8ed081;
}
.navbar-default .navbar-brand {
  color: #aad698;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #797596;
}
.navbar-default .navbar-text {
  color: #aad698;
}
.navbar-default .navbar-nav > li > a {
  color: #aad698;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #797596;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #303031;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #aad698;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #797596;
  background-color: #8ed081;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8ed081;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #797596;
  background-color: #8ed081;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #797596;
  background-color: #8ed081;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #797596;
  background-color: #8ed081;
}
.navbar-default .navbar-toggle {
  border-color: #8ed081;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8ed081;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #aad698;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #aad698;
}
.navbar-default .navbar-link {
  color: #aad698;
}
.navbar-default .navbar-link:hover {
  color: #797596;
}
div.collapse.navbar-collapse{
  margin-right: 30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #aad698;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #797596;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #797596;
    background-color: #8ed081;
  }
}
