<div class="container">
  <div class="jumbotron">
    <h1>The <strong>Bud</strong>get Team</h1>

    <h2 class="teamName">Josh</h2>
    <p><i class="em em-hankey"></i></p>

    <h2 class="teamName">Cory</h2>
    <p><i class="em em-eggplant"></i></p>

    <h2 class="teamName">Elissa</h2>
    <p><i class="em em-baby_chick"></i></p>


  </div>
</div>
