<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="title container">

    </div>
    <div class="container navbarCont">
      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand text-muted" href="/vision">The Budget Vision</a>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/users">User List</a></li>
            <li><a href="/about-us">Our Team</a></li>
            <li><a href="mailto:esosland@gmail.com">Contact</a></li>
        </div>
      </div>
    </div>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
