<h2>Add a Transaction:</h2>
<form action="/user/$user.getId()" method="post">
  <label for="amount">Transaction Amount</label>
  <input id="amount" name="amount" type="text" required>

  <div>
    <button type="submit" class="btn">Add Transaction</button>
  </div>
  <div>
    <a href="/" class="btn" id="home">Back To Homepage</a>
  </div>
</form>
