<div class="container">
  <div id="allUsersJumbotron" class="jumbotron">
    <h1>All Users</h1>

    #foreach ($user in $users)
    <ul id="userList">
      <p id="userListItem"><a id="userHref" href="/user/$user.getId()">$user.getName()</a></p>
    </ul>

    #end
  </div>
</div>
